<div class="navbar">
	<div class="left" style="visibility:hidden;">Left</div>
	<div class="center"><p>Food Classification</p></div>
	<div class="right"><button (click)="toggleNavbar()" class="nav-btn">=</button></div>
	<div class="nav-items-left">
		<div class="nav-item"><a class="nav-link" routerLink="/">Home</a></div>
		<div *ngIf="!user" class="nav-item"><a class="nav-link" routerLink="/login">Login</a></div>
		<div *ngIf="!user" class="nav-item"><a class="nav-link" routerLink="/signup">Sign Up</a></div>
		<div *ngIf="user" class="nav-item"><a (click)="logout()" href="#" class="nav-link">Logout</a></div>
	</div>
	<div class="nav-items-right">
		<div *ngIf="user" class="nav-item"><a class="nav-link" routerLink="#">{{ user.email }}</a></div>
		<div class="nav-item"><a class="nav-link" routerLink="#">About</a></div>
	</div>
</div>